.ilha-container{
    background-color: rgb(121, 121, 141);
    width: auto;
    height: auto;
    border-radius: 10px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin:5px;
    padding: 4px;
}
.nome-ilha{
    font-size: 8px;
}
.nome-porto{
    font-size: 10px;
}
