.container-ilhas{
    background-color: rgb(217, 217, 231);
    padding: 10px;
    margin:10px;
    width: auto;
    border-radius: 10px;
    height: auto;
    align-content: center;
    position: fixed;
    z-index: 100;
    display: flex;
    orientation: landscape;
    scroll-behavior: smooth;
}